# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/starred.json
.obsidian/search.json
.obsidian/bookmarks.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backup
*.bak
*.tmp
*~
